<footer id="contact" class="site-footer">

    <div class="footer-container">

        <!-- BRAND -->
        <div class="footer-brand">
            <div class="logo white">Knight<span>Tech</span>Labs</div>
            <p>Simple tools. Real impact.</p>
        </div>

        <!-- PRODUCT LINKS -->
        <div class="footer-links">
            <h4>Products</h4>
            <a href="../products/unicover/index.html">UniCover</a>
            <a href="#">Tracker</a>
            <!-- <a href="#">Future Tools</a> -->
        </div>

        <!-- COMPANY LINKS -->
        <div class="footer-links">
            <h4>Company</h4>
            <a href="/#about">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms</a>
        </div>

        <!-- CONTACT -->
        <div class="footer-contact">
            <h4>Contact</h4>
            <a href="mailto:hello@knighttechlabs.com">
                knighttechlabs
            </a>
        </div>

    </div>

    <!-- BOTTOM -->
    <div class="footer-bottom">
        © 2026 Knight Tech Labs. All rights reserved.
    </div>

</footer>